/* hides the native tabs */
#TabsToolbar {
  visibility: collapse;
}

#main-window[titlepreface*="[Sidebery]"] #navigator-toolbox {
  --toolbar-bgcolor: #242631;
  display: flex !important;
  background-color: var(--toolbar-bgcolor) !important;
}

#main-window[titlepreface*="[Sidebery]"] #TabsToolbar .titlebar-spacer,
#main-window[titlepreface*="[Sidebery]"] #TabsToolbar .toolbar-items {
  display: none !important;
}

#main-window[titlepreface*="[Sidebery]"] #TabsToolbar .titlebar-buttonbox {
  margin-right: 12px !important;
}

#main-window[titlepreface*="[Sidebery]"] #nav-bar {
  flex-grow: 1 !important;
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  --sidebar-border-color: var(--chrome-content-separator-color);
}

#navigator-toolbox {
  --toolbarbutton-hover-background: hsla(0, 0%, 70%, 0.2);
}

#urlbar-background {
  --toolbar-field-border-color: transparent;
  --toolbar-field-background-color: transparent;
  --toolbar-field-focus-border-color: #a86595;
  --toolbar-field-focus-background-color: #242631;
  --arrowpanel-border-color: #a86595;
}

